@charset "UTF-8";

.error {
    color:red;

}
body {
    font-size: 16px;
    font-family: 'M PLUS Rounded 1c', 'Scheherazade New', sans-serif, serif;
}

.head {
    font-size: 24px;
}

ul {
    list-style: none;
    padding-left: 20px;
}

.user-name {
    font-size: 18px;
}

p {
    margin-bottom: 8px;
}

.article-block {
    border-bottom: 1px solid #eee;
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 1px;
}

.label {
    width: 100px;
    text-align: right;
    padding-right: 10px;
    vertical-align: top;
    line-height: 45px;
}

.form {
    width: calc(100% - 120px);
    padding: 8px;
}

.temp {
    width: 100px;
    text-align: right;
}

